body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #2c3e50;
    color: #ecf0f1;

}

#calculator {
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}

#display {
    width: 92%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 2em;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #2c3e50;
    color: #ecf0f1;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #546E7A;
    color: #ecf0f1;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #455a64;

}

.special {
    background-color: #e74c3c;

}

.operatorButton {
    background-color: #3498db;

}

.clear {
    background-color: #2ecc71;

}